<p id="notice"><%= notice %></p>

<p>
  <b>Adtext:</b>
  <%= @auction.adtext %>
</p>

<p>
  <b>Adate:</b>
  <%= @auction.adate %>
</p>

<p>
  <b>Aoao:</b>
  <%= @auction.aoao %>
</p>

<p>
  <b>Island:</b>
  <%= @auction.island %>
</p>

<p>
  <b>Caddress1:</b>
  <%= @auction.caddress1 %>
</p>

<p>
  <b>Caddress2:</b>
  <%= @auction.caddress2 %>
</p>

<p>
  <b>Ccity:</b>
  <%= @auction.ccity %>
</p>

<p>
  <b>Oh1date:</b>
  <%= @auction.oh1date %>
</p>

<p>
  <b>Oh2date:</b>
  <%= @auction.oh2date %>
</p>

<p>
  <b>Fs:</b>
  <%= @auction.fs %>
</p>

<p>
  <b>Tmk:</b>
  <%= @auction.tmk %>
</p>

<p>
  <b>Judicial:</b>
  <%= @auction.judicial %>
</p>

<p>
  <b>Ts:</b>
  <%= @auction.ts %>
</p>

<p>
  <b>Paddress1:</b>
  <%= @auction.paddress1 %>
</p>

<p>
  <b>Paddress2:</b>
  <%= @auction.paddress2 %>
</p>

<p>
  <b>Paddress3:</b>
  <%= @auction.paddress3 %>
</p>

<p>
  <b>Pcity:</b>
  <%= @auction.pcity %>
</p>

<p>
  <b>Pstate:</b>
  <%= @auction.pstate %>
</p>

<p>
  <b>Pzip:</b>
  <%= @auction.pzip %>
</p>

<p>
  <b>Punit:</b>
  <%= @auction.punit %>
</p>

<p>
  <b>Lender:</b>
  <%= @auction.lender %>
</p>

<p>
  <b>Lfname:</b>
  <%= @auction.lfname %>
</p>

<p>
  <b>Lfcontact:</b>
  <%= @auction.lfcontact %>
</p>

<p>
  <b>Lfphone:</b>
  <%= @auction.lfphone %>
</p>

<p>
  <b>Lfemail:</b>
  <%= @auction.lfemail %>
</p>


<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
